<div class="ticket-list-panel">
  <p *ngIf="ticketStatusChangedMessage">{{ ticketStatusChangedMessage}}</p>
  <div *ngIf="getGeneralErrors()">
    <div *ngFor="let error of getGeneralErrors()" class="alert alert-danger">{{ error }}</div>
  </div>
  <br>
  <h2>Tickets List</h2>
  <button (click)="createTicket()">Create New Ticket</button>
  <div *ngIf="isLoading" class="spinner" style="margin: 32px auto; display: block;"></div>
  <table *ngIf="hasLoaded && tickets.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets" style="cursor: pointer">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <div class="action-buttons">
            <button (click)="viewTicketDetails(ticket)">Details</button>
            <button (click)="editTicket(ticket)">Edit</button>
            <button (click)="deleteTicket(ticket)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
