<div class="ticket-form-container">
  <h2>{{ editMode ? 'Edit' : 'New' }}</h2>
  <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <div *ngIf="getGeneralErrors()">
      <div *ngFor="let error of getGeneralErrors()" class="alert alert-danger">{{ error }}</div>
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        autocomplete="title"
        [class.is-invalid]="isFieldInvalid('title')"
        [class.is-valid]="isFieldValid('title')"
      />
      <div *ngIf="getFieldErrors('title')">
        <div *ngFor="let error of getFieldErrors('title')" class="field-error">{{ error }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        formControlName="description"
        autocomplete="description"
        rows="5"
        [class.is-invalid]="isFieldInvalid('description')"
        [class.is-valid]="isFieldValid('description')"
      >
      </textarea>
      <div *ngIf="getFieldErrors('description')">
        <div *ngFor="let error of getFieldErrors('description')" class="field-error">{{ error }}</div>
      </div>
    </div>
    <div class="form-group" *ngIf="editMode">
      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option *ngFor="let status of ticketStatuses" [value]="status">{{ status }}</option>
      </select>
      <div *ngIf="getFieldErrors('status')">
        <div *ngFor="let error of getFieldErrors('status')" class="field-error">{{ error }}</div>
      </div>
    </div>
    <div class="form-actions">
      <div *ngIf="!editMode">
        <button type="submit">Create ticket</button>
      </div>
      <div *ngIf="editMode">
        <button type="button" (click)="onSubmit()">Save changes</button>
      </div>
    </div>
  </form>
</div>
<button (click)="backToList()">Back to list</button>
