:host {
  display: block;
}

.is-valid {
  border-color: #28a745 !important;
  background-color: #f8fff9;
}

.is-valid:focus {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

/* Klasa is-invalid - stan niepoprawny */
.is-invalid {
  border-color: #dc3545 !important;
  background-color: #fff5f5;
}

.is-invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}
