<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      <input type="checkbox" formControlName="auto" />
      Login as superuser (auto)
    </label>
  </div>
  <div *ngIf="!isLoginAuto">
    <label>Login:</label>
    <input formControlName="username" autocomplete="username" />
    <div *ngIf="getFieldError('username')">{{ getFieldError('username')}}</div>
    <label>Password:</label>
    <input type="password" formControlName="password" autocomplete="password" />
    <div *ngIf="getFieldError('password')">{{getFieldError('password')}}</div>
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <button type="submit" [disabled]="(!isLoginAuto && loginForm.invalid)">Login</button>
  <div *ngIf="submitted" class="spinner">Logging in...</div>
</form>
<div *ngIf="otherErrors">
  <div *ngFor="let error of otherErrors">
    {{ error }}
  </div>
</div>