<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div *ngIf="getGeneralErrors()">
    <div *ngFor="let error of getGeneralErrors()" class="alert alert-danger">{{ error }}</div>
  </div>
  <div>
    <label>
      <input type="checkbox" formControlName="auto" />
      Login as superuser (auto)
    </label>
  </div>
  <div *ngIf="!isLoginAuto">
    <label>Login:</label>
    <input
      type="text"
      id="username"
      formControlName="username"
      autocomplete="username"
      [class.is-invalid]="isFieldInvalid('username')"
      [class.is-valid]="isFieldValid('username')"
    />
    <div *ngIf="getFieldErrors('username')">
      <div *ngFor="let error of getFieldErrors('username')" class="field-error">{{ error }}</div>
    </div>
    <label>Password:</label>
    <input
      type="text"
      id="password"
      formControlName="password"
      autocomplete="password"
      [class.is-invalid]="isFieldInvalid('password')"
      [class.is-valid]="isFieldValid('password')"
    />
    <div *ngIf="getFieldErrors('password')">
      <div *ngFor="let error of getFieldErrors('password')" class="field-error">{{ error }}</div>
    </div>
  </div>
  <button type="submit" [disabled]="(!isLoginAuto && loginForm.invalid)">Login</button>
  <div *ngIf="submitted" class="spinner">Logging in...</div>
</form>
