<div class="dashboard-panel">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="auto-login-row">
      <input type="checkbox" id="auto" formControlName="auto" />
      <label for="auto">Login as superuser (auto)</label>
    </div>
    <div *ngIf="getGeneralErrors()">
      <div *ngFor="let error of getGeneralErrors()" class="alert alert-danger">{{ error }}</div>
    </div>
    <ng-container *ngIf="!loginForm.get('auto')?.value">
      <div class="form-group">
        <label for="username">Login</label>
        <input id="username" formControlName="username" [ngClass]="{'ng-invalid': isFieldInvalid('username'), 'ng-valid': isFieldValid('username'), 'ng-touched': loginForm.get('username')?.touched}" />
        <div *ngIf="getFieldErrors('username')" class="field-error">
          <span *ngFor="let error of getFieldErrors('username')">{{ error }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" [ngClass]="{'ng-invalid': isFieldInvalid('password'), 'ng-valid': isFieldValid('password'), 'ng-touched': loginForm.get('password')?.touched}" />
        <div *ngIf="getFieldErrors('password')" class="field-error">
          <span *ngFor="let error of getFieldErrors('password')">{{ error }}</span>
        </div>
      </div>
    </ng-container>
    <button type="submit">
      Log in
      <span *ngIf="submitted" class="spinner"></span>
    </button>
  </form>
</div>
